parameters:
    level: max
    paths:
        - src/
    ignoreErrors:
        - identifier: trait.unused
        -
            identifier: function.alreadyNarrowedType
            reportUnmatched: false
